<p-card header="Entidades">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button 
                severity="success" 
                label="Nueva" 
                icon="pi pi-plus" 
                class="mr-2" 
                (onClick)="openNew()" />
            
            <p-button 
                severity="danger" 
                label="Eliminar" 
                icon="pi pi-trash" 
                badge="{{ selectedEntidades.length }}" 
                [disabled]="selectedEntidades.length === 0"
                (onClick)="deleteSelected()"
            />
        </ng-template>
        <ng-template pTemplate="right"></ng-template>
    </p-toolbar>

    <p-dialog [(visible)]="modalVisible" header="Entidad" [modal]="true" [closable]="true" [style]="{width: '40vw'}" class="custom-modal">
        <form [formGroup]="entidadForm">
            <div class="p-fluid p-grid">
                <div class="p-field p-col-12">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" pInputText formControlName="nombre" />
                    <small class="p-error" *ngIf="entidadForm.get('nombre')?.invalid && entidadForm.get('nombre')?.touched">
                        * El nombre es obligatorio y debe tener máximo 255 caracteres.
                    </small>
                </div>
                <div class="p-field p-col-6">
                    <label for="nit">NIT</label>
                    <input id="nit" type="text" pInputText formControlName="nit" />
                </div>
                <div class="p-field p-col-6">
                    <label for="telefono">Teléfono</label>
                    <input id="telefono" type="text" pInputText formControlName="telefono" />
                    <small class="p-error" *ngIf="entidadForm.get('telefono')?.invalid && entidadForm.get('telefono')?.touched">
                        * El teléfono debe tener máximo 15 caracteres.
                    </small>
                </div>
                <div class="p-field p-col-12">
                    <label for="direccion">Dirección</label>
                    <input id="direccion" type="text" pInputText formControlName="direccion" />
                    <small class="p-error" *ngIf="entidadForm.get('direccion')?.invalid && entidadForm.get('direccion')?.touched">
                        * La dirección debe tener máximo 255 caracteres.
                    </small>
                </div>
                <div class="p-field p-col-12">
                    <label for="email">Email</label>
                    <input id="email" type="email" pInputText formControlName="email" />
                    <small class="p-error" *ngIf="entidadForm.get('email')?.invalid && entidadForm.get('email')?.touched">
                        * Ingresa un email válido (ejemplo&#64;correo.com).
                    </small>
                </div>
            </div>
        </form>
        <p-footer class="modal-footer">
            <p-button label="Guardar" icon="pi pi-check" (onClick)="saveEntidad()" [disabled]="entidadForm.invalid" class="p-button-success"></p-button>
            <p-button label="Cancelar" icon="pi pi-times" severity="secondary" (onClick)="modalVisible = false"></p-button>
        </p-footer>
    </p-dialog>
    
    

    <p-table
        #dt
        [value]="entidades"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['nombre', 'nit', 'telefono', 'direccion']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        [showCurrentPageReport]="true"
        [loading]="loading"
        [(selection)]="selectedEntidades"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Lista de entidades</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input 
                        pInputText 
                        type="text" 
                        class="fietext-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-fullld"
                        placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="nombre" style="min-width:15rem">
                    Nombre <p-sortIcon field="nombre"></p-sortIcon>
                </th>
                <th pSortableColumn="nit">
                    NIT <p-sortIcon field="nit"></p-sortIcon>
                </th>
                <th pSortableColumn="telefono">
                    Teléfono <p-sortIcon field="telefono"></p-sortIcon>
                </th>
                <th pSortableColumn="direccion" style="min-width:10rem">
                    Dirección <p-sortIcon field="direccion"></p-sortIcon>
                </th>
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-entidad>
            <tr>
                <td>
                    <p-tableCheckbox [value]="entidad"></p-tableCheckbox>
                </td>
                <td>{{ entidad.nombre }}</td>
                <td>{{ entidad.nit }}</td>
                <td>{{ entidad.telefono }}</td>
                <td>{{ entidad.direccion }}</td>
                <td>
                    <p-button 
                        icon="pi pi-pencil" 
                        class="mr-2" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="success" 
                        (onClick)="edit(entidad)" />
                    <p-button 
                        icon="pi pi-trash" 
                        class="mr-2" 
                        severity="danger" 
                        [rounded]="true" 
                        [outlined]="true" 
                        (onClick)="delete(entidad)" />
                    <p-button 
                        icon="pi pi-users" 
                        severity="info" 
                        [rounded]="true" 
                        [outlined]="true" />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                Total {{ total() }} entidades.
            </div>
        </ng-template>
        

    </p-table>
</p-card>
<p-confirmDialog></p-confirmDialog>